@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;

  --color-orange-*: initial;
  --color-amber-*: initial;
  --color-lime-*: initial;
  --color-green-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-cyan-*: initial;
  --color-sky-*: initial;
  --color-blue-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-purple-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-gray-*: initial;
  --color-zinc-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;
  --color-mauve-*: initial;
  --color-mist-*: initial;
  --color-olive-*: initial;
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-taupe-900);
  --primary: oklch(93.2% 0.032 255.585); /* blue-100 */
  --primary-foreground: oklch(48.8% 0.243 264.376); /* blue-700 */
  --muted: var(--color-taupe-100);
  --muted-foreground: var(--color-taupe-700);
  --accent: var(--color-yellow-100);
  --accent-foreground: var(--color-yellow-800);
  --destructive: oklch(57.7% 0.245 27.325); /* red-600 */
  --border: var(--color-taupe-200);
  --input: var(--color-taupe-200);
  --ring: oklch(80.9% 0.105 251.813); /* blue-300 */
  --radius: 0.625rem;
  --success: oklch(44.8% 0.119 151.328); /* green-800 */
  --warning: var(--color-yellow-50);
  --warning-foreground: var(--color-yellow-800);
}

@theme inline {
  --font-sans: "SF Mono", sans-serif;
  --font-heading: "Playfair Display", serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-success: var(--success);
  --color-failure: var(--destructive);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply font-heading text-3xl font-bold;
  }
  h2 {
    @apply font-semibold tracking-wider uppercase text-accent-foreground;
  }
  h2.example {
    @apply font-heading text-2xl normal-case font-bold border-b border-red-200 pb-1;
  }
  label {
    @apply text-sm text-muted-foreground text-center;
  }
  button.replace {
    @apply text-sm bg-muted text-muted-foreground border rounded inline-flex gap-1.5 items-center justify-center;
  }
}

.range-slider {
  @apply appearance-none w-full h-8 bg-transparent cursor-pointer relative z-10 rounded mt-1.75;
}

.range-slider::-webkit-slider-runnable-track {
  @apply h-8 bg-transparent;
}

.range-slider::-webkit-slider-thumb {
  @apply appearance-none size-5 bg-white border-2 border-muted-foreground rounded-sm shadow-sm mt-1.5;
}

.range-slider::-moz-range-track {
  @apply h-8 bg-transparent;
}

.range-slider::-moz-range-thumb {
  @apply size-5 bg-white border-2 border-muted-foreground rounded-sm shadow-sm mt-1.5;
}
